name: build

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  macos:
    runs-on: macos-latest
    steps:
    - run: HOMEBREW_JDK=$(brew --prefix)/opt/openjdk@21/libexec/openjdk.jdk/Contents/Home brew install -v coady/tap/pylucene

  ubuntu:
    runs-on: ubuntu-latest
    container: homebrew/brew
    steps:
    - run: cd $(brew --prefix)/opt && ln -s openjdk@21 temurin
    - run: HOMEBREW_JDK=$(brew --prefix)/opt/temurin/libexec brew install -v coady/tap/pylucene
