name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 * * 1,3,5"

jobs:
  test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - run: brew install --cask temurin
    - run: brew install -v ./Formula/pylucene.rb
    - run: brew test pylucene
