name: build

on:
  workflow_dispatch:
  push:
    branches: [rc]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v5
    - run: HOMEBREW_JDK=//opt/homebrew/opt/openjdk@21/libexec/openjdk.jdk/Contents/Home brew install -v --build-from-source coady/homebrew-tap/pylucene
